@model List<FilamentType>

@{
    ViewBag.Title = "Filament Hinzufügen";
}

<h2>Filament Hinzufügen</h2>
@using (Html.BeginForm("Add", "Filament", FormMethod.Post))
{
  //  @Html.EditorFor( o => o.Filament)
   // @Html.DropDownListFor(o => o.Filament.Manufacturer,new SelectList(Model.Manufacturers, 
     //   nameof(Manufacturer.ManufacturerId), nameof(Manufacturer.Name)) )
    <button type="submit">Speichern</button>
}