@using Microsoft.AspNetCore.Mvc.Rendering
@model FilamentViewModel

@using (Html.BeginForm("Edit", "Filament", FormMethod.Post))
{
    @Html.EditorFor( o => o.Filament.Diameter)
    @Html.EditorFor( o => o.Filament.Color)
    
    <select asp-for="Filament.Manufacturer.ManufacturerId" 
            asp-items="@new SelectList(Model.Manufacturers,
            nameof(Manufacturer.ManufacturerId), nameof(Manufacturer.Name))"></select> 
    <button type="submit">Speichern</button>
}