@model CalculatorViewModel
@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.DropDownListFor(o => o.Filamenttypes, new SelectList(Model.Filamenttypes, nameof(FilamentType.FilamentTypeId), nameof(FilamentType.Name)))
        
        
        
        <button type="submit">Berechnen</button>
    }
</div>
