@model CalculatorViewModel
@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
   @foreach (var item in Model.Filaments)
   {
       <p>@item.Manufacturer.Name  || @item.FilamentType.Name || @item.Color </p><br/>
   }
</div>
